services:
   db:
     image: mariadb
     environment:
       MARIADB_ROOT_PASSWORD: somewordpress
       MARIADB_DATABASE: wordpress
       MARIADB_USER: wordpress
       MARIADB_PASSWORD: wordpress

   wordpress:
     depends_on:
       - db
     build:
      context: ./wordpress-php8
     healthcheck:
      test: [ "CMD-SHELL", "curl -f -I http://wordpress" ]
      interval: 10s
      timeout: 10s
      retries: 10
     ports:
       - "80:80"
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_PASSWORD: wordpress
       XDEBUG_CONFIG: client_host=10.197.1.85
       WORDPRESS_CONFIG_EXTRA: |
        define('DISABLE_WP_CRON', true );
     volumes:
       - ./wp-cassify:/var/www/html/wp-content/plugins/wp-cassify
     networks:
       default:
         aliases:
           - wordpress1
           - wordpress2

   openldap:
     image: osixia/openldap:1.5.0
     environment:
       LDAP_DOMAIN: "example.org"
     command: --copy-service
     volumes:
      - ./ldap-config:/container/service/slapd/assets/config/bootstrap/ldif/custom

   cas:
     image: esupportail/apereo-cas-ldap:v6.6.0
     healthcheck:
      test: [ "CMD-SHELL", "curl -f -I http://cas:8080/cas" ]
      interval: 10s
      timeout: 10s
      retries: 10     
     volumes:
       - ./cas-config:/etc/cas
       - ./cas-config/tmp-cas:/tmp/cas
     ports:
       - "8080:8080"
     depends_on:
       - openldap

   selenium-chrome:
     image: selenium/standalone-chrome:125.0
     container_name: selenium-chrome     
     healthcheck:
       test: [ "CMD-SHELL", "curl -f -LI http://selenium-chrome:4444" ]
       interval: 10s
       timeout: 10s
       retries: 10    
     shm_size: 1gb
     ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
     ports:
       - "4444:4444"

   selenium-firefox:
     image: selenium/standalone-firefox:125.0
     container_name: selenium-firefox
     healthcheck:
       test: [ "CMD-SHELL", "curl -f -LI http://selenium-firefox:4444" ]
       interval: 10s
       timeout: 10s
       retries: 10    
     shm_size: 1gb
     ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
    
   selenium-runner:
     build:
       context: selenium-runner
     depends_on:
       wordpress:
           condition: service_healthy
       selenium-chrome:
           condition: service_healthy
       selenium-firefox:
           condition: service_healthy           
       cas:
           condition: service_healthy	   
     volumes:
       - './selenium-sides:/selenium-sides'


